.hero-content-padding{
  padding: 0;
  margin: 0;
}
.hero-content-modified {
    isolation: isolate;
    display: flex;
    max-width: 80rem /* 1280px */;
    align-items: center;
    justify-content: center;
    gap: calc(0.25rem /* 4px */ * 4) /* 1rem = 16px */;
    padding: calc(0.25rem /* 4px */ * 4) /* 1rem = 16px */;
}